.mv-button{
    display: inline-flex;
    border: none;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    line-height: 25px;
    user-select: none;
    transition-duration: 300ms;
    overflow: hidden;
    white-space: nowrap;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.25, 2.02);
    @include mv-button-size($mv-button-padding-y, $mv-button-padding-x, $mv-button-border-radius);
    &:focus{
        outline: none;
    }
    &:hover{
        font-size: 19px;
    }
    &:active{
        transition-duration: 150ms;
        outline: none;
        font-size: 16px;
    }
    //BLUE BUTTON
    &.default{
        background-color: var(--mv-blue);
        color: var(--mv-light);
    }
    &.default-secondary{
        background-color: var(--mv-white);
        color: var(--mv-blue);
        @include mv-secondary-button-border($mv-secondary-button-border-width, var(--mv-blue));
    }
    //GREEN BUTTON
    &.success{
        background-color: var(--mv-green);
        color: var(--mv-light);
    }
    &.success-secondary{
        background-color: var(--mv-white);
        color: var(--mv-green);
        @include mv-secondary-button-border($mv-secondary-button-border-width, var(--mv-green));
    }
    //YELLOW BUTTON
    &.alert{
        background-color: var(--mv-yellow);
        color: var(--mv-dark);
        margin-bottom: 0;
    }
    &.alert-secondary{
        background-color: var(--mv-white);
        color: var(--mv-yellow);
        @include mv-secondary-button-border($mv-secondary-button-border-width, var(--mv-yellow));
    }
    //RED BUTTON
    &.error{
        background-color: var(--mv-red);
        color: var(--mv-light);
    }
    &.error-secondary{
        background-color: var(--mv-white);
        color: var(--mv-red);
        @include mv-secondary-button-border($mv-secondary-button-border-width, var(--mv-red));
    }

    //submit button
    &.submit{
        &[type="submit"]{
            background-color: var(--mv-blue);
            color: var(--mv-light);
            position: relative;
        }

        &.is-submitting{
            padding-left: 5px;
            padding-right: 5px;
        }

        &.is-submited-success{
            background-color: var(--mv-green);
            padding-left: 0px;
            padding-right: 0px;
        }
        
        &.is-submited-error{
            background-color: var(--mv-red);            
            padding-left: 0px;
            padding-right: 0px;
        }

        &>.mv-loading{
            width: 60%;
            height: 60%;
            align-self: center;
            justify-self: center;
            position: absolute;
            transition: 300ms ease-in-out;
            border-radius: 50%;
            border-top: 2px solid #fff;
            border-right: 2px solid transparent;
            animation: spinner .6s ease-in-out infinite;
        }
        @keyframes spinner {
            to {transform: rotate(360deg);}
        }
    }
}
