$mv-button-border-radius: 100em;

$mv-button-padding-y: 0.45rem;
$mv-button-padding-x: 2.3rem;

$mv-secondary-button-border-width: 0.1rem;

$mv-button-sumitting-padding: 5px;
$mv-button-submited-padding: 0px;

$mv-button-submit-loading-size: 60%;
$mv-button-submit-loading-border-size: 2px;