@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

$mv-button-font: 'Open Sans', sans-serif;
$mv-button-font-weight: 700;

$mv-button-font-size-default: 16px;
$mv-button-font-size-hover: 19px;
$mv-button-font-size-active: 16px;

$mv-button-line-height: 25px;

$mv-input-font: 'Open Sans', sans-serif;
$mv-label-font-weight: 600;