$mv-input-border-bottom-width: 2px;
$mv-input-padding-left-right: 10px;
$mv-input-padding-top-bottom: 8px;

$input-border-before-width: calc(100% + 20px);
$input-border-width-before: 3px;

$mv-label-font-size: 14px;
$mv-label-margin-top: 3px;

$mv-password-reveal-size: 20px;