@mixin mv-button-size($padding-y, $padding-x, $border-radius) {
    border-radius: $border-radius;
    padding: $padding-y $padding-x;
}

@mixin mv-secondary-button-border($border-width, $boder-color) {
    border: $border-width solid $boder-color;
}